
<div class="form">
    <h2>Contacter moi !</h2>
    <div class="input-container ic1">
    <input id="Nom" class="input" type="text" placeholder=" " />
    <div class="cut cut-short1"></div>
    <label for="Nom" class="placeholder">Nom</label>
    </div>

    <div class="input-container ic2">
    <input id="Prenom" class="input" type="text" placeholder=" " />
    <div class="cut cut-short2"></div>
    <label for="Prenom" class="placeholder">Prenom</label>
    </div>

    <div class="input-container ic3">
    <input id="Email" class="input" type="text" placeholder=" " />
    <div class="cut cut-short3"></div>
    <label for="Email" class="placeholder">Email</label>
    </div>	

    <div class="input-container ic4">
    <textarea maxlength="250" id="Exprimez" class="input input-long"  placeholder=" " ></textarea>
    <div class="cut cut-short7"></div>
    <label for="Exprimez" class="placeholder">Exprimez-vous</label>
    </div>	

<button  class="submit">Envoyer</button>
