        <div class="parent-competences">
            <h1>Compétences informatique</h1>
            <app-competences *ngFor="let competence of competences" [competences]="competence"></app-competences>
        </div>
        
        <div class="competences-non">
            <h1>Autres compétences</h1>
            <div class="competences-non-info-card">
                <div class="title">
                    <h2>Mathématiques</h2>
                </div>
                <div class="ligne">
                    <mat-progress-bar [mode]="'determinate'" [value]="80" [color]="'warm'"></mat-progress-bar>
                </div>
                <div class="pour">80%</div>
            </div>
            <div class="competences-non-info-card">
                <div class="title">
                    <h2>Gestion de projet</h2>
                </div>
                <div class="ligne">
                    <mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar>
                </div>
                <div class="pour" >70%</div>
            </div>
            <div class="competences-non-info-card">
                <div class="title">
                    <h2>Méthode Agile</h2>
                </div>
                <div class="ligne">
                    <mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar>
                </div>
                <div class="pour" >70%</div>
            </div>
            <div class="competences-non-info-card">
                <div class="title">
                    <h2>Comptabilité</h2>
                </div>
                <div class="ligne">
                    <mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar>
                </div>
                <div class="pour">70%</div>
            </div>

        </div>

