<h1>Mes Réalisations</h1>
  <carousel [height]="800" [width]="1800" [cellWidth]='1800' [loop]="true" [dots]="true" [margin]="100" [transitionDuration]='1000'>
    <div routerLink="/singleProjet2"class="carousel-cell" (click)="onCreate()">
      <img src="assets/img/Screenshot_16.png">
    </div>
    <div (click)="onCreate2()" routerLink="/singleProjet" class="carousel-cell">
        <img src="assets/img/Screenshot_17.png">
      </div>
      <div (click)="onCreate3()" routerLink="/singleProjet" class="carousel-cell">
        <img src="assets/img/Screenshot_20.png">
      </div>
      <div (click)="onCreate4()" routerLink="/singleProjet" class="carousel-cell">
        <img src="assets/img/Screenshot_21.png">
      </div>
  </carousel>
