<div class="parent-card">
    <div class="projet-card">
        <div class="title"><p>Site e-commerce en PHP</p></div>
        <div class="image"><img href="../../assets/img/php.svg"></div>
        <button>En savoir plus</button>
    </div>
    <div class="projet-card">
        <div class="title"><p>Application Android Java</p></div>
        <div class="image"><p></p></div>
        <button>En savoir plus</button>
    </div>
    <div class="projet-card">
        <div class="title"><p>UML de l'application Discord</p></div>
        <div class="image"><p></p></div>
        <button>En savoir plus</button>
    </div>
    <div class="projet-card">
        <div class="title"><p>Site vitrine HTML/CSS</p></div>
        <div class="image"><p></p></div>
        <button>En savoir plus</button>
    </div>
</div>