  
   <h1>Mon futur</h1>
   <div id="container"> 
    <h2>Mon futur parcours scolaire</h2>
    <p>Étant actuellement étudiant en DUT Informatique, j'envisage d'entrer en école d'<strong>ingénieur</strong> informatique l'année prochaine. J'ai notamment pu candidater aux écoles de <strong>Les mines d'Alès</strong> ainsi qu'à <strong>CPE Lyon</strong></p>

    <h2 id="margin">Mon futur parcours professionnel</h2>
    <p>Plus tard, j'aimerais travailler dans le monde du <strong>web 3.0</strong> et plus précisément dans le domaine de la <strong>blockchain</strong>.</p> 
</div>