

.parent-component{
    margin: 10% auto 0 auto;
    width: 80%;
}
  
table {
    table-layout: fixed;
    width: 100%;
  }
  
#title{
    font-size: 20px;
    font-weight: 500;
  }
  
th, td {
    padding: 1%;
  }
    
mat-progress-bar{
      position: absolute;
      width: 25%;
      height: 1%;
      color: dodgerblue;
  
      &::ng-deep .mat-progress-bar-fill::after {
      background-color: dodgerblue;
      }   
  
      &::ng-deep .mat-progress-bar {
      border-radius: 20px;
      }
}

h2{
  font-weight: 800;
    width: 100%;
    padding: 1%;
    background-color: rgba(30,144,255,0.6);
    margin-top: 5%;
    font-family: Oswald;
    font-size: 35px;
    text-align: center;
    border-radius: 10px;

}

@media screen and (max-width : 450px){
  .parent-component{
    width: 100%;
    margin-top: 35%;
    margin-top: 300px;
  }
  h1{
    margin-top: 110px;
  }
  #title{
    font-size: 16px;
  }
}

h1{
    position: absolute;
    width: 100%;
    padding: 50px 0 60px 0 ;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 400;

}

.autre{
  margin-top: -1%;
}