<h1>Mes compétences</h1>
<div class="parent-component">
    
    <h2>Compétences Informatiques</h2>
    <table>
        <tbody>
            <tr>
                <th id="title">HTML/CSS</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="85" [color]="'warm'"></mat-progress-bar></th>
                <th>85%</th>
            </tr>
            <tr>
                <th id="title">PHP</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="80" [color]="'warm'"></mat-progress-bar></th>
                <th>80%</th>
            </tr>
            <tr>
                <th id="title">UML</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="80" [color]="'warm'"></mat-progress-bar></th>
                <th>80%</th>
            </tr>
            <tr>
                <th id="title">PLSQL/SQL</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="75" [color]="'warm'"></mat-progress-bar></th>
                <th>75%</th>
            </tr>
            <tr>
                <th id="title">Java</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar></th>
                <th>70%</th>
            </tr>
            <tr>
                <th id="title">XML</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar></th>
                <th>70%</th>
            </tr>
            <tr>
                <th id="title">C</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="60" [color]="'warm'"></mat-progress-bar></th> 
                <th>60%</th>
            </tr>
            <tr>
                <th id="title">JavaScript</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="60" [color]="'warm'"></mat-progress-bar></th>
                <th>60%</th>
            </tr>
            <tr>
                <th id="title">Angular</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="40" [color]="'warm'"></mat-progress-bar></th>
                <th>40%</th>
            </tr>
        </tbody>
    </table>
</div>

<div class="parent-component autre">
    <h2>Autres compétences</h2>
    <table>
        <tbody>
            <tr>
                <th id="title">Mathématiques</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="80" [color]="'warm'"></mat-progress-bar></th>
                <th>80%</th>
            </tr>
            <tr>
                <th id="title">Gestion de projet</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar></th>
                <th>70%</th>
            </tr>
            <tr>
                <th id="title">Méthode Agile</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar></th>
                <th>70%</th>
            </tr>
            <tr>
                <th id="title">Comptabilité</th>
                <th><mat-progress-bar [mode]="'determinate'" [value]="70" [color]="'warm'"></mat-progress-bar></th>
                <th>70%</th>
            </tr>
        </tbody>
    </table>
</div>

