
<h1>Mon parcours scolaire</h1>
<div class="timeline">
    <div class="container left">
      <i class="icon fa fa-home"></i>
      <div class="content">
        <h2>2016-2019</h2>
        <p>
          Lycée Notre Dame de La Merci
        </p>
      </div>
    </div>
    <div class="container right">
      <i class="icon fa fa-gift"></i>
      <div class="content">
        <h2>2019</h2>
        <p>
          Obtention du baccalauréat Scientifique SVT option ISN section européenne espagnol, mention Bien
        </p>
      </div>
    </div>
    <div class="container left">
      <i class="icon fa fa-user"></i>
      <div class="content">
        <h2>2020-2022</h2>
        <p>
          DUT informatique de Montpellier
        </p>
      </div>
    </div>
  </div>

  <div id="propos">
    Je suis quelqu'un de motivé, rigoureux, sérieux et autonome. J'aime relver des défis et apprendre de nouvelles choses. Je suis passionné finance et de blockchain. Je pratique le volley-ball en compétition.
  </div>