<!--<body>
    <div class="eyes">
        <div class="eye">
            <div #ball class="ball"><p>.</p></div>
        </div>
    
        <div class="eye">
            <div #ball class="ball"><p>.</p></div>
        </div>
    </div>
    <script src="home.component.js"></script>
</body>-->

<div class="accueil">

    <h1>Bienvenue sur mon <strong>e-portfolio</strong></h1>

    <div class="media-btn-container">
        <div class="medias-container">
            <div class="medias-btn"><a href="https://github.com/theopantecouteau"><img src="../../assets/img/github.png" alt="logo github" class="icones"></a></div>
            <div class="medias-btn"><a href="https://www.linkedin.com/in/theo-pantecouteau/"><img src="../../assets/img/linkedin.png" alt="logo linkedin" class="icones"></a></div>
        </div>
        <div class="btn-container">
            <button routerLink="/competences" class="btn">Mes Compétences</button>
            <button class="btn">Mes projets</button>
            <button routerLink="/contacts" class="btn">Contacts</button>
        </div>
    </div>
</div>